@import 'variables';
@import 'functions';
@import url(http://weloveiconfonts.com/api/?family=maki);

@keyframes shake {
  10%, 90% {
    transform: rotateY( 180deg ) translate3d(-1px, 0, 0) rotate(-2deg);
  }
  
  20%, 80% {
    transform: rotateY( 180deg ) translate3d(2px, 0, 0) rotate(2deg);
  }

  30%, 50%, 70% {
    transform: rotateY( 180deg ) translate3d(-4px, 0, 0) rotate(-5deg);
  }

  40%, 60% {
    transform: rotateY( 180deg ) translate3d(4px, 0, 0) rotate(5deg);
  }
}

*{
  margin:0;
  padding:0;
}

html, body {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}

body {
  background: $body-bg;
  font-family: $font-main;
}

.grid {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template: repeat(4, auto) / auto minmax(min-content, 75vw) auto;
  grid-template-areas:
    "h h h"
    "n n n"
    ". m ."
    "f f f";
}

/* maki */
.card__icon:before {
  font-family: 'maki', sans-serif;
}

// *****************
// HEADER
// *****************

.header {
  grid-area: h;
  text-align: center;
}



// *****************
// NAVIGATION
// *****************

.nav {
  grid-area: n;
}

.nav__list {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.nav__item {
  padding: 1em;
}


// *****************
// MAIN
// *****************

.main {
  grid-area: m;
}

.main__controls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.main__new-game {
    padding: 0.2em;
}

.main__board {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template: repeat(4, min-content) / repeat(4, min-content);
  grid-gap: 1em;
}

.main__card-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 130px;
  height: 130px;
  perspective: 1200px;
  justify-content: center;
  align-items: center;
}

.main__card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.card__front, .card__back {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  pointer-events: none;
}

.card__front {
  background: $card-front;
  box-shadow: 0 3px 6px transparentize($card-front, 0.70), 
              0 3px 12px transparentize($card-front, 0.75),
              0 3px 20px transparentize($card-front, 0.80);
  border-bottom: 1px solid lighten($card-front, 20%);
}

.card__back {
  background: $card-back;
  transform: rotateY( 180deg );
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px transparentize($card-back, 0.70), 
              0 3px 12px transparentize($card-back, 0.75),
              0 3px 20px transparentize($card-back, 0.80);
  border-bottom: 1px solid lighten($card-back, 20%);
}

.card__flipped {
  transform: rotateY( 180deg );
}

.card__icon {
  font-size:$font-icon;
  pointer-events: none;
  margin-bottom: 1rem;
}

.shake {
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  backface-visibility: hidden;
}

// *****************
// FOOTER
// *****************

.footer {
  grid-area: f;
}