@import 'variables';
@import 'keyframes';
@import url(http://weloveiconfonts.com/api/?family=maki);

// :root {

// }

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}

body {
  background: $body-bg;
  font-family: $font-main;
}

.grid {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template: repeat(4, auto) / auto minmax(min-content, 75vw) auto;
  grid-template-areas:
    'h h h'
    'n n n'
    '. m .'
    'f f f';
}

/* maki */
.card__icon:before {
  font-family: 'maki', sans-serif;
}

// *****************
// HEADER
// *****************

.header {
  grid-area: h;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

// *****************
// NAVIGATION
// *****************

.nav {
  grid-area: n;
}

.nav__list {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.nav__item {
  padding: 1em;
}

// *****************
// MAIN
// *****************

.main {
  grid-area: m;
  display: flex;
  flex-direction: column;
}

.main__controls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.main__new-game {
  display: inline-block;
  padding: 0.3em 1em;
  font-size: 1.1em;
  text-align: center;
  border-radius: 4px;
  color: $text-light;
  background-color: lighten($card-back, 10%);
  border: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 
              0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.15s ease;

  &:active {
    transform: translateY(2px);
  }
}

.main__board {
  height: 70vh;
  width: 70vh;
  max-width: 100vw;
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
}

.main__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 0.5s ease, opacity 0.5s ease;
  background: lighten($border-win, 25%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  display: block;
  width: 70%;
  height: 55vh;
  padding: 30px;
  background: $body-bg;
  border: 3px solid $border-win;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
  }
}

.modal__active {
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.main__card-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  perspective: 1200px;
  justify-content: center;
  align-items: center;
}

.main__card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s;
}

.card__front,
.card__back {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  pointer-events: none;
  border-radius: 0.5rem;
}

.card__back {
  box-sizing: border-box;
  background: $background-img;
  box-shadow: 0 3px 6px transparentize($card-back-shadow, 0.7),
              0 3px 12px transparentize($card-back-shadow, 0.75),
              0 3px 20px transparentize($card-back-shadow, 0.8),
              inset 0px -25px 50px -10px transparentize(lighten($card-back, 20%), 0.6);
}

.card__front {
  box-sizing: border-box;
  background: $card-front;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px transparentize($card-front-shadow, 0.7),
              0 3px 12px transparentize($card-front-shadow, 0.75),
              0 3px 20px transparentize($card-front-shadow, 0.8),
              inset 0px -25px 50px -10px lighten($card-front, 0.9);
  border: 5px solid lighten($card-back, 30%);
}

.card__flipped {
  transform: rotateY(180deg);
}

.card__icon {
  font-size: $font-icon;
  pointer-events: none;
  margin-bottom: 1rem;
  color: darken($card-back, 25%);
}

.card__no-events {
  pointer-events: none;
}

.shake {
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.rubber {
  animation: rubberBand 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

  .card__front {
    border: 5px solid $border-win;
    background: lighten($border-win, 30%);
  }
}

// *****************
// FOOTER
// *****************

.footer {
  grid-area: f;
}
